# STREAMLIT & ENV
streamlit
python-dotenv

# GOOGLE GEMINI SDK
langchain-google-genai==2.1.5
google-ai-generativelanguage==0.6.18
google-api-core
google-auth

# LANGCHAIN & VECTOR DB
langchain
langchain-cohere
faiss-cpu

# LLM TOOLS
pandas
scikit-learn
openai
tiktoken==0.5.1  # versi stabil, compatible Python 3.10

# PDF HANDLING
PyPDF2
pdfplumber

# TRANSLATOR & SEARCH
deep-translator
googlesearch-python==1.1

# TAMBAHAN
pydantic<3.0.0
protobuf<5.0.0
